.full-page {
  min-height: 100vh;
  background-image: url('apps/frontend/src/assets/background-images/particles-dark.png');
  background-color: grey;
  background-repeat: repeat;
}

.min-width {
  min-width: 310px;
}
